{% extends 'base.html.twig' %}

{% block body %}
    <nav>
        <div class="navbar">
            <a href="#" class="logo">BattleBoat</a>
            <ul class="nav-links">
                <li><a href="#">À propos</a></li>
            </ul>
        </div>
    </nav>
    <section class="hero">
        <div class="container">
            <h1>Bienvenue dans BattleBoat io !</h1>
            <p>Entrez votre pseudo pour commencer à jouer :</p>
            <form id="nameForm" method="post" action="{{ path('game_start', {pseudo: "test"}) }}">
                {{ form_errors(form.pseudo) }}
                {{ form_widget(form.pseudo) }}
                <button type="submit" value="submit" id="startButton">Commencer à jouer</button>
            </form>
        </div>
    </section>
    <div id="gameContainer">
        <canvas id="gameCanvas"></canvas>
        <div id="leaderboardContainer">
            <h2>Classement</h2>
            <ul id="leaderboardList"></ul>
        </div>
    </div>
    {% block javascripts %}
    {% endblock %}
{% endblock %}


